.env
docker-compose.yml
mongo-init.js
.docker/data
server/.env
portfolio/.env
web4u4less/.env
makeasite/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local
portfolio/.env.local
portfolio/.env.development.local
portfolio/.env.test.local
portfolio/.env.production.local
web4u4less/.env.local
web4u4less/.env.development.local
web4u4less/.env.test.local
web4u4less/.env.production.local
makeasite/.env.local
makeasite/.env.development.local
makeasite/.env.test.local
makeasite/.env.production.local

server/node_modules
portfolio/node_modules
web4u4less/node_modules
makeasite/node_modules

# production
server/build
portfolio/build
web4u4less/build
makeasite/build

# misc
server/.DS_Store
portfolio/.DS_Store
web4u4less/.DS_Store
makeasite/.DS_Store

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
portfolio/npm-debug.log*
portfolio/yarn-debug.log*
portfolio/yarn-error.log*

web4u4less/npm-debug.log*
web4u4less/yarn-debug.log*
web4u4less/yarn-error.log*
